services:
    app:
        build:
            context: .
        container_name: app
        environment:
            NODE_ENV: development
            DATABASE_URL: ${DATABASE_URL}
            SESSION_SECRET: ${SESSION_SECRET}
            REDIS_URL: redis://redis:6379
        ports:
            - "3000:3000"
            - "24678:24678"
        volumes:
            - .:/app
        depends_on:
            - database
            - redis

    database:
        image: postgres:18.0-alpine
        container_name: postgres
        environment:
            POSTGRES_USER: ${POSTGRES_USER:-postgres}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
            POSTGRES_DB: ${POSTGRES_DB:-postgres}
        ports:
            - "5432:5432"
        volumes:
            - pgdata:/var/lib/postgresql/data
        shm_size: 128mb

    redis:
        image: redis:8.2-alpine
        container_name: redis
        restart: unless-stopped
        ports:
            - "6379:6379"
        volumes:
            - redis-data:/data
        command: redis-server --appendonly yes

volumes:
    pgdata:
    redis-data:
